#card_container {
    text-align: center;
    margin-top: 10%;
    /* padding-left: 40%;
    padding-right: 40%; */
}

#btn-listprojects {
    margin: 5%;
}

#btn-createproject {
    margin-bottom: 5%;
}

#cardtitle {
    position: relative;
    right: 5%;
}