#external-container {
  /* background-color:grey; */
  background-image: url(./img/background.jpg);
  background-size: cover;
  padding: 84px;
}

#h1_projects {
  padding-left: 5%;
}

#projects-container {
  margin: 50px;
  border-style: solid;
}

#page_title {
  text-align: center;
}

#btn-addlabel {
  margin-right: 5%;
}

#project_to_delete {
  margin-left: 2%;
}

#nameLabel {
  margin-right: 5%;
}

#colour-label-popup {
  margin-left: 2%;
}

#project_delete_label {
  margin-left: 2%;
  margin-right: 5%;
}

#label_to_delete {
  margin-left: 2%;
}

#project_members {
  margin-left: 2%;
}

#nameUser {
  margin-right: 5%;
}

#accessLevel {
  margin-left: 2%;
}

#project_create_member {
  margin-left: 2%;
}


