#external-container {
  /* background-color:grey; */
  background-image: url(./img/background.jpg);
  background-size: cover;
  padding: 84px;
}

#h1_projects {
  padding-left: 5%;
}

#projects-container {
  margin: 50px;
  border-style: solid;
}

#page_title {
  text-align: center;
}

#btn-addlabel {
  margin-right: 5%;
}

#project_to_delete {
  margin-left: 2%;
}

#btn-deleteprojectpopup {
  position:relative;
  left: 420px;
}

#btn-listlabelspopup {
  position:relative;
  left: 420px;
}


